#  Template maven-build

#  This template allows you to test and build your Java project with Maven.
#  The workflow allows running tests, code checkstyle and security scans on the default branch.

# Prerequisites: pom.xml and appropriate project structure should exist in the repository.

image: maven:3.6.3

pipelines:
  default:
    - parallel:
      - step:
          name: Build and Test
          caches:
            - maven
            - docker
          script:
            - mvn -B verify --file pom.xml
          artifacts:
            - target/**
          services:
            - docker
          after-script:
              # Collect checkstyle results, if any, and convert to Bitbucket Code Insights.
            - pipe: atlassian/checkstyle-report:0.2.0
      - step:
          name: Security Scan
          script:
            # Run a security scan for sensitive data.
            # See more security tools at https://bitbucket.org/product/features/pipelines/integrations?&category=security
            - pipe: atlassian/git-secrets-scan:0.4.3
      - step:
          name: Docker deploy
          caches:
            - maven
            - docker
          script:
            - export IMAGE_NAME=arturix/producersb:$BITBUCKET_COMMIT
            - mvn package -DskipTests
            - docker build . -t $IMAGE_NAME
            - docker login --username $DOCKER_USER --password $DOCKER_PASSWORD
            - docker push $IMAGE_NAME
          services:
            - docker
#definitions:
#  catches:
#    maven: ~/.m2/repository

