apiVersion: v1
kind: ConfigMap
metadata:
  name: log-auto-pipeline
data:
  logstash.conf: |-
    input {
      tcp {
          port => "5000"
          codec => json_lines
      }
    }

    output {
      stdout {}
      elasticsearch {
        hosts => ["http://localhost:9200"]
        index => "producer-elk-tcp-%{+YYYY.MM.dd}"
      }
    }