<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Producer</title>
    <meta charset="utf-8" content="text/html">
    <script src="https://unpkg.com/axios/dist/axios.min.js" type="text/javascript"></script>
</head>

<body>
<h1>Producer v.1.0.1</h1>
<script type="text/javascript">
    function produce()
    {
        var inputProducer = document.getElementById('inputProducer');
        axios({
            method: 'get',
            url: '/produce/' + inputProducer.value
        })
        .then(function (response)
        {
            ws_PringMsgFromBackend( response.data );
            /*setTimeout(
                function()
                {
                    var span = document.createElement('span');
                    span.style.color = 'red';
                    span.innerHTML = '&nbsp;(deleting UI)';
                    divMsg.appendChild( span );
                }, 2000 );
            setTimeout(
                function()
                {
                    divMsg.parentNode.removeChild( divMsg );
                }, 4000 );*/
        })
        .catch(function (error)
        {
            console.log(error);
        });
    }
    var g_nMsgNr = 1;
    function ws_PringMsgFromBackend( msg )
    {
        var msgDiv = document.getElementById('msgDiv');
        var div = document.createElement('div');
        div.innerHTML = '#' + (g_nMsgNr++) + ' - <b>' + msg + '</b>';
        msgDiv.appendChild( div );
    }
    function clear_Messages()
    {
        var msgDiv = document.getElementById('msgDiv');
        while ( msgDiv.firstChild )
            msgDiv.removeChild( msgDiv.firstChild );
    }

</script>

<input id="inputProducer" type="text" value="Message for Consumer">
<button id="buttonProducer" onclick="produce();">Produce</button><button id="buttonClearMesssages" onclick="clear_Messages();">Clear messages</button>
<div id="msgDiv" style="margin: 20px 0 0 20px"></div>
</body>

</html>