<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Hello Docker + Spring Boot</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<style>
    .msgStyle {
        margin-bottom: 5px;
        font-size: 20px;
    }
</style>
<body>

<h1 th:text="${title}">Default title.</h1>

<script type="text/javascript">
    var g_nMsgNr = 1;
    function produce()
    {
        var inputProducer = document.getElementById('inputProducer');
        axios({
            method: 'get',
            url: '/produce/' + inputProducer.value
        })
        .then(function (response)
        {
            var msgProducer = document.getElementById('msgProducer');
            var divMsg = document.createElement('div');
            divMsg.className = 'msgStyle';
            divMsg.innerHTML = '#' + (g_nMsgNr++) + ' - SpringBoot received message = <b>\"' + response.data + '\"</b> and send it to Kafka';
            msgProducer.appendChild( divMsg );
            setTimeout(
                function()
                {
                    var span = document.createElement('span');
                    span.style.color = 'red';
                    span.innerHTML = '&nbsp;(deleting this message from UI)';
                    divMsg.appendChild( span );
                }, 2000 );
            setTimeout(
                function()
                {
                    divMsg.parentNode.removeChild( divMsg );
                }, 4000 );
        })
        .catch(function (error)
        {
            console.log(error);
        });
    }

</script>

<input id="inputProducer" type="text" value="Message for Consumer">
<button id="buttonProducer" onclick="produce();">Produce</button>
<div id="msgProducer" style="margin: 20px 0 0 20px"></div>
</body>

</html>